%input-properties {
  width: 206px;
  height: 20px;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  color: #555;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  transition: $args;
}

@mixin transition-transform($args...) {
  -webkit-transition: -webkit-transform $args;
  transition: -ms-transform $args;
  transition: transform $args;
}
