<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <title>{{ page.title }}</title>
  <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet'>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet'>
  {% css_asset_tag style %}
    - /_assets/stylesheets/style.scss
  {% endcss_asset_tag %}
  <!--[if lt IE 9]>
    <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
</head>
<body>
  <div class='container'>
    {{ content }}
  </div>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'></script>
  {% javascript_asset_tag script %}
    - /_assets/javascripts/util.js
    - /_assets/javascripts/heap.js
    - /_assets/javascripts/circularbuffer.js
    - /_assets/javascripts/clock.js
    - /_assets/javascripts/link.js
    - /_assets/javascripts/node.js
    - /_assets/javascripts/system.js
    - /_assets/javascripts/main.js
  {% endjavascript_asset_tag %}
</body>
</html>
